// colors

$color-1: #1784c7; // Blue
$color-2: #1d97ff; // Bright Blue
$color-3: #ffffff; // White
$color-4: #ff7e66; // Salmon
$color-5: #373d41; // Dark text
$color-6: #3a4349; // dark gray
$color-7: #f6f6f6; // light-gray
$color-8: #e3e3e3; // mid-gray
$color-9: #77858f; // mid-dark-gray

// fonts 

$primary-font: "proxima-nova",'Open Sans', sans-serif;

// header size

$header-height-S: 45px;
$header-height-M: 55px;

//sidebar size

$sidebar-width-M: 110px;
$sidebar-width-L: 200px;

// breakpoints
   
$S:     480px;   
$M:     768px;     
$L:     1170px;     

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; } 
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; } 
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; } 
  }
}

