// Navbar //

.navbar {
  background-color: $color-1;
  border: none;
  border-radius: 0px;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle, .btn-default, .form-control {
	border: 1px solid $color-9;
}