<div class="smart-create-page row">

  <div class="col-md-12">


    <div class="smart-create-progress">

      <div class="row progress-row">
        <div ng-if="$ctrl.step >= 2" class="col-md-6 completed">
          <a href="" ng-click="$ctrl.goToStep(1)">
            {{ $ctrl.config.industry.name }}
          </a>
        </div>
        <div ng-if="$ctrl.step >= 3" class="col-md-6 completed">
          <a href="" ng-click="$ctrl.goToStep(2)">
            {{ $ctrl.config.adType.name }}
          </a>
        </div>
      </div>

    </div>

    <div class="smart-create-industries" ng-if="$ctrl.step === 1">
      <h1>What type of video would you like to create?</h1>
      <div ng-repeat="industry in $ctrl.industries" class="select-circle">
        <a href="" ng-click="$ctrl.selectIndustry(industry)" class="select-name">
          <h4>{{ industry.name }}</h4>
        </a>

        <a href="" ng-click="$ctrl.selectIndustry(industry)" class="industry-pic">
          <img ng-src="{{ industry.image_url_large_square }}">
        </a>

        <p>{{ industry.description }}</p>
      </div>
    </div>

    <div class="smart-create-ad-types" ng-if="$ctrl.step === 2">
      <h1>What would you like to promote?</h1>
      <div ng-repeat="adType in $ctrl.adTypes" class="select-circle">
        <a href="" ng-click="$ctrl.selectAdType(adType)" class="select-name">
          <h4>{{ adType.name }}</h4>
        </a>

        <a href="" ng-click="$ctrl.selectAdType(adType)">
          <img ng-src="{{ adType.image_url_large_square }}">
        </a>

        <p>{{ adType.description }}</p>
      </div>
    </div>

    <div class="row smart-create-integration-type" ng-if="$ctrl.step === 3">
      <div class="col-md-8 col-md-offset-2">
        <facebook-integration-types on-select="$ctrl.selectIntegrationType($event)"></facebook-integration-types>
      </div>
    </div>

    <a href="" ng-click="$ctrl.previousStep()" ng-if="$ctrl.step > 1" class="previous-button"><i class="fa fa-chevron-left"></i> Previous</a>
  </div>

</div>
