<div class="smart-create-page row">

  <div class="col-md-12">


    <div class="smart-create-progress">

      <div class="row progress-row">
        <div ng-if="$ctrl.step >= 2" class="col-md-4 completed">
          <a href="" ng-click="$ctrl.goToStep(1)">
            {{ $ctrl.config.industry.name }}
          </a>
        </div>
        <div ng-if="$ctrl.step >= 3" class="col-md-4 completed">
          <a href="" ng-click="$ctrl.goToStep(2)">
            {{ $ctrl.config.adType.name }}
          </a>
        </div>
        <div ng-if="$ctrl.step >= 4" class="col-md-4 completed">
          <a href="" ng-click="$ctrl.goToStep(3)">
            {{ $ctrl.config.targetingSpec.name }}
          </a>
        </div>
      </div>

    </div>

    <div class="smart-create-industries" ng-if="$ctrl.step === 1">
      <h1>What type of video would you like to create?</h1>
      <div ng-repeat="industry in $ctrl.industries" class="select-circle">
        <a href="" ng-click="$ctrl.selectIndustry(industry)" class="select-name">
          <h4>{{ industry.name }}</h4>
<!--           <ul class="adtype-list">
            <li><a href="">Property Listing</a></li>
            <li><a href="">Open House</a></li>
            <li><a href="">Agent</a></li>
          </ul> -->
        </a>

        <a href="" ng-click="$ctrl.selectIndustry(industry)" class="industry-pic">
          <img ng-src="{{ industry.image_url_large_square }}">
        </a>
      </div>
    </div>

    <div class="smart-create-ad-types" ng-if="$ctrl.step === 2">
      <h1>What would you like to promote?</h1>
      <div ng-repeat="adType in $ctrl.adTypes" class="select-circle">
        <a href="" ng-click="$ctrl.selectAdType(adType)" class="select-name">
          <h4>{{ adType.name }}</h4>
        </a>

        <a href="" ng-click="$ctrl.selectAdType(adType)">
          <img ng-src="{{ adType.image_url_large_square }}">
        </a>
      </div>
    </div>

    <div class="smart-create-targeting-specs" ng-if="$ctrl.step === 3">
      <h1>Who would you like to target?</h1>
      <div ng-repeat="facebookTargetingSpec in $ctrl.facebookTargetingSpecs" class="select-circle">
        <a href="" ng-click="$ctrl.selectTargetingSpec(facebookTargetingSpec)" class="select-name">
          <h4>{{ facebookTargetingSpec.name }}</h4>
        </a>

        <a href="" ng-click="$ctrl.selectTargetingSpec(facebookTargetingSpec)">
          <img ng-src="{{ facebookTargetingSpec.thumbnail_url }}">
        </a>
      </div>
    </div>

    <div class="smart-create-themes" ng-if="$ctrl.step === 4">

      <p ng-if="!$ctrl.recommendedThemesAvailable" class="no-recommendations">
        No available recommendations for the chosen combination, but here are some other related themes that match your criteria:
      </p>

      <div ng-if="$ctrl.recommendedThemesAvailable">
        <h3>{{ $ctrl.themeRecommendationGroup.title }}</h3>

        <p>{{ $ctrl.themeRecommendationGroup.description }}</p>
      </div>

      <div ng-repeat="theme in $ctrl.themes">

        <div class="suggested-theme">

          <div class="select-circle">

            <a href="" ng-click="$ctrl.selectTheme(theme)" class="select-name">
              <h4>{{ theme.name }}</h4>
            </a>

            <a href="" ng-click="$ctrl.selectTheme(theme)">
              <img ng-src="{{ theme.thumbnail_url_large_square }}">
            </a>

          </div>

          <div class="theme-description">{{ theme.description }}</div>

        </div>

      </div>

              
    </div>

    <a href="" ng-click="$ctrl.previousStep()" ng-if="$ctrl.step > 1" class="previous-button"><i class="fa fa-chevron-left"></i> Previous</a>

  </div>

</div>
