<div class="add-scene-index">

  <a href="" ng-click="$ctrl.onClose()" class="back-link pull-right"><i class="fa fa-chevron-left"></i> Back</a>

  <h2>
    Add a scene
  </h2>
  <div ng-repeat="(category, scenesChunks) in $ctrl.groupedScenes">
    <h3>{{ category }}</h3>

    <div class="row" ng-repeat="scenesChunk in scenesChunks">
      <div class="scene-button col-md-3" ng-repeat="scene in scenesChunk">
        <div class="video-thumb-box">
          <a video-overlay-link="{{ scene.preview_video_url }}" class="play-sample"><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
          <a href="" ng-click="$ctrl.onAddScene({scene: scene})" class="scene-thumb-box">
            <div>
              <img ng-src="{{ scene.thumbnail_small_url }}">
            </div>
            <div class="scene-thumb-name">
              {{ scene.name }}
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
