<div class="transition-selector selecter-modal">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
    <span aria-hidden="true">&times; cancel</span>
  </button>

  <div class="modal-header">
    <div class="transition-icon"><i class="fa fa-exchange"></i></div>
    <h1>
      Select transition: <span class="selected-name">{{ selectedTransition.name }}</span>
    </h1>

    Click on the transition panel to select it.
  </div>

  <div class="modal-body">
    <div class="row" ng-repeat="transitionGroup in transitionGroups">
      <div class="col-md-4" ng-repeat="transition in transitionGroup" class="text-center">
        <a href="" ng-class="{selected: selectedTransition.id === transition.id}" ng-click="$close(transition)">
          <img ng-src="{{ transition.image.url }}" alt="{{ transition.name }}" title="{{ transition.name }}" class="img-responsive">
          {{ transition.name }}
        </a>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="button-ghost" ng-click="removeTransition()"><i class="fa fa-close"></i> Remove Transition</button>
  </div>
</div>
