<div class="navigation-arrows">
  <div class="nav-left-arrow inactive" ng-if="$ctrl.firstScene()">
    <i class="fa fa-angle-left"></i>
  </div>

  <a href="" ng-click="$ctrl.onPrevious()"
     ng-if="!$ctrl.firstScene()" class="nav-left-arrow">
    <i class="fa fa-angle-left"></i>
  </a>

  <div class="nav-right-arrow inactive" ng-if="$ctrl.lastScene()">
    <i class="fa fa-angle-right"></i>
  </div>

  <a href="" ng-click="$ctrl.onNext()"
     ng-if="!$ctrl.lastScene()" class="nav-right-arrow">
    <i class="fa fa-angle-right "></i>
  </a>
</div>
