<div class="add-scene-wrapper flex-item">
  <a class="add-scene-button" ng-click="$ctrl.onAddScene()">
    <i class="fa fa-plus-circle"></i>Add a scene
  </a>
</div>

<div class="flex-item">
  <ul class="list-inline" ng-sortable="$ctrl.sceneListConfig">
    <li ng-repeat="sceneContent in $ctrl.sceneContents"
        ng-class="{selected: $ctrl.isSelected(sceneContent)}" class="scene-timeline-thumb">
      <a class="transition-dot" uib-popover="transition: SlideUp" popover-trigger="mouseenter" popover-placement="left"></a>
      <div class="text-center scene-number">{{ $index + 1 }}</div>
      <a class="text-center delete-scene-thumb" ng-click="$ctrl.sceneEditor.removeScene(sceneContent)">
        <i class="fa fa-trash"></i>
      </a>
      <a href="" ng-click="$ctrl.onSelect({sceneContent: sceneContent})">
        <img ng-src="{{ sceneContent.scene.thumbnail_small_url }}">
      </a>
    </li>
  </ul>
</div>

<div class="preview-button-wrapper" class="flex-item">
  <button class="preview-button" ng-click="$ctrl.preview()" ng-disabled="$ctrl.previewLoading">
    <i class="fa fa-play-circle-o" aria-hidden="true"></i> Preview
  </button>
</div>
