<div>
  <ul class="list-inline pull-left" ng-sortable="$ctrl.sceneListConfig">
    <li ng-repeat="sceneContent in $ctrl.sceneContents"
        ng-class="{selected: $ctrl.isSelected(sceneContent)}" class="scene-timeline-thumb">
      <div class="text-center scene-number">{{ $index + 1 }}</div>
      <a class="text-center delete-scene-thumb" ng-click="$ctrl.sceneCollectionEditor.removeScene(sceneContent)">
        <i class="fa fa-trash"></i>
      </a>
      <a href="" ng-click="$ctrl.onSelect({sceneContent: sceneContent})">
        <img ng-src="{{ sceneContent.scene.thumbnail_small_url }}">
      </a>
    </li>
  </ul>
</div>

<div class="add-scene-wrapper">
  <a class="add-scene-button" ui-sref="addScene">
    <i class="fa fa-plus-circle"></i>Add a scene
  </a>
</div>
