<div class="row preview-page">
  <div class="col-md-8 col-md-offset-2 preview-wrapper">

    <div class="text-center">
      <h1><i class="fa fa-search" aria-hidden="true"></i> PREVIEW</h1>
    </div>

    <video-preview stream-url="{{ $ctrl.videoJob.stream_url }}" class="vjs-big-play-centered"></video-preview>

    <a href="" class="button" ng-click="$ctrl.nextStep()" ng-disabled="$ctrl.saving">
      NEXT:
      <span ng-if="$ctrl.sceneCollection.integration === 'facebook_ad'">Select Ad Spend</span>
      <span ng-if="$ctrl.sceneCollection.integration === 'facebook_post' || $ctrl.sceneCollection.integration === 'facebook_page_post'">Configure Facebook Post</span>
    </a>

    <a ui-sref="sceneEditor({sceneCollectionId: $ctrl.videoJob.scene_collection_id})" class="back-link">
      <i class="fa fa-chevron-left"></i> Back to the Video Editor
    </a>

  </div>
</div>
