<div class="targeting">
  <div class="row targeting-header">

    <button class="button pull-right" ng-click="$ctrl.saveTargeting()" ng-disabled="$ctrl.saving || $ctrl.selectedTargetingSpecIds.length === 0">
      CONTINUE
    </button>

    <div class="video-nav">
      <ul>
        <li><a href="">Templates</a></li>
        <li><a href="">Targeting</a></li>
        <li><a href="">Scene Editor</a></li>
        <li><a href="">Preview</a></li>
        <li><a href="">Ad Spend</a></li>
      </ul>
    </div>

    <div class="col-md-12">

      <h1>TARGET SEGMENTS</h1>
      <p>
        Select your target segment(s) and click continue
      </p>
    </div>
  </div>

  <div class="row targeting-spec-list">
    <div ng-repeat="targetingSpec in $ctrl.targetingSpecs">
      <div class="col-md-3">
        <a href="" ng-click="$ctrl.selectTargetingSpec(targetingSpec)"
           ng-class="{selected: $ctrl.selected(targetingSpec)}">

          <img ng-src="{{ targetingSpec.thumbnail_url }}">
          <br>
          <strong>{{ targetingSpec.name }}</strong>

          <p>
            {{ targetingSpec.description }}
          </p>
        </a>
      </div>
    </div>
  </div>

  <button class="button" ng-click="$ctrl.saveTargeting()" ng-disabled="$ctrl.saving || $ctrl.selectedTargetingSpecIds.length === 0">
    CONTINUE
  </button>

</div>


