<script>
  angular.module('adsee.themeSettings').value('fonts', <%= raw @fonts.to_json %>);
  angular.module('adsee.themeSettings').value('songs', <%= raw @songs.to_json %>);
</script>

<div ng-view></div>
