<div class="form-group">
  <div class="media-input-group">
    <span class="input-group-addon">{{ $ctrl.sceneAttribute.position }}</span>
    <label class="control-label" for="attr_{{ $ctrl.sceneAttribute.name }}">
      {{ $ctrl.sceneAttribute.display_name }}
    </label>

    <input type="text" id="attr_{{ $ctrl.sceneAttribute.name }}" class="form-control" readonly="readonly"
           ng-model="$ctrlsceneAttribute.icon_name"
           ng-click="$ctrl.insertMedia()"
           placeholder="Select {{ $ctrl.sceneAttribute.display_name }}">

    <div class="image-padding">
      <img ng-src="{{ $ctrl.sceneAttribute.icon_url }}" ng-click="$ctrl.insertMedia()">
    </div>
  </div>
</div>
