<div class="form-group">

  <div class="media-input-group">
      <span class="input-group-addon">{{ $ctrl.sceneAttribute.position }}</span>
      <input required="" type="text" id="attr_{{ $ctrl.sceneAttribute.name }}" class="form-control" readonly="readonly"
               ng-model="$ctrl.filename"
               ng-click="$ctrl.insertMedia()">
      <label class="control-label" for="attr_{{ $ctrl.sceneAttribute.name }}" placeholder="{{ $ctrl.sceneAttribute.display_name }}">
        <i class="fa fa-file-video-o" ng-if="$ctrl.isVideo()"></i>
      </label>
      <div class="image-padding">
        <img ng-src="{{ $ctrl.sceneAttribute.thumbnail_url }}" class="img-responsive">
      </div>
  </div>

  <input type="hidden" ng-model="$ctrl.attachment_id">

</div>
