<div ng-class="{'has-error': $ctrl.sceneAttribute.invalid}">
  <div class="form-group" ng-if="$ctrl.textInput()">
    <div class="text-input-group">
      <div class="label-box">
        <span class="input-group-addon">{{ $ctrl.sceneAttribute.position }}</span>
        <label class="control-label" for="attr_{{ $ctrl.sceneAttribute.name }}" placeholder="{{ $ctrl.sceneAttribute.display_name }}">
        </label>
        <a href="" ng-click="$ctrl.configureAttribute()" ng-if="$ctrl.sceneAttribute.type == 'text'" class="settings-cog">
          <i class="fa fa-sliders"></i>
        </a>
      </div>
      <input required="" type="text" id="attr_{{ $ctrl.sceneAttribute.name }}" class="form-control"
             ng-model="$ctrl.value"
             ng-model-options="{updateOn: 'default blur', debounce: { default: 1000, blur: 0 }}"
             ng-change="$ctrl.update()"
             maxlength="{{ $ctrl.sceneAttribute.display_config.limit }}">
    </div>
  </div>

  <div class="checkbox checkbox-input-group" ng-if="$ctrl.sceneAttribute.type == 'boolean'">
    <span class="input-group-addon">{{ $ctrl.sceneAttribute.position }}</span>

    <label>
      <input type="checkbox"
             ng-model="$ctrl.value"
             ng-model-options="{updateOn: 'default blur', debounce: { default: 1000, blur: 0 }}"
             ng-change="$ctrl.update()"
             ng-false-value="'0'">
      {{ $ctrl.sceneAttribute.display_name }}
    </label>
  </div>

  <div ng-if="$ctrl.mediaInput()">
    <media-attribute scene-attribute="$ctrl.sceneAttribute"></media-attribute>
  </div>

  <div ng-if="$ctrl.sceneAttribute.type == 'icon'">
    <icon-attribute scene-attribute="$ctrl.sceneAttribute"></icon-attribute>
  </div>
</div>

