<div ng-class="{'has-error': $ctrl.sceneAttribute.invalid}">
  <div class="form-group" ng-if="$ctrl.textInput()">
    <div class="text-input-group">
      <span class="input-group-addon">{{ $ctrl.sceneAttribute.position }}1</span>
      <input required="" type="text" id="attr_{{ $ctrl.sceneAttribute.name }}" class="form-control"
             ng-model="$ctrl.value"
             ng-model-options="{updateOn: 'default blur', debounce: { default: 1000, blur: 0 }}"
             ng-change="$ctrl.update()">
      <label class="control-label" for="attr_{{ $ctrl.sceneAttribute.name }}" placeholder="{{ $ctrl.sceneAttribute.display_name }}">
      </label>
    </div>
  </div>

  <div class="checkbox" ng-if="$ctrl.sceneAttribute.type == 'boolean'">
    <span>{{ $ctrl.sceneAttribute.position }}</span>

    <label>
      <input type="checkbox"
             ng-model="$ctrl.value"
             ng-model-options="{updateOn: 'default blur', debounce: { default: 1000, blur: 0 }}"
             ng-change="$ctrl.update()">
      {{ $ctrl.sceneAttribute.display_name }}
    </label>
  </div>

  <div ng-if="$ctrl.mediaInput()">
    <media-attribute scene-attribute="$ctrl.sceneAttribute"></media-attribute>
  </div>
</div>
