<div class="media-library">
  <div class="clearfix">
    <div class="pull-right">
      <a href="" class="btn btn-primary" upload-media-link
         on-upload="$ctrl.onUpload()"
         on-convert-start="$ctrl.onConvert()"
         ng-disabled="$ctrl.uploading">
        <i class="fa fa-arrow-circle-up" ng-if="!$ctrl.uploading"></i>
        <i class="fa fa-spin fa-spinner" ng-if="$ctrl.uploading"></i>
        Upload
      </a>
    </div>
  </div>

  <div>
    <a href="" ng-click="$ctrl.showTab('images')" ng-class="{active: $ctrl.display.images}">images</a>
    <a href="" ng-click="$ctrl.showTab('videos')" ng-class="{active: $ctrl.display.videos}">videos</a>
    <a href="" ng-click="$ctrl.showTab('stockImages')" ng-class="{active: $ctrl.display.stockImages}">stock images</a>
    <a href="" ng-click="$ctrl.showTab('stockVideos')" ng-class="{active: $ctrl.display.stockVideos}">stock videos</a>
  </div>

  <div>
    <span ng-if="$ctrl.uploading">
      <i class="fa fa-spinner fa-spin"></i>
      Uploading...
    </span>
  </div>

  <div ng-class="{selecting: $ctrl.selecting}">
    <div ng-if="$ctrl.selecting">
      <h4>Select a media item</h4>
    </div>

    <image-list images="$ctrl.images" on-select="$ctrl.selectMedia(image)" ng-show="$ctrl.display.images"></image-list>
    <image-list images="$ctrl.stockImages" on-select="$ctrl.selectMedia(image)" ng-show="$ctrl.display.stockImages"></image-list>
    <video-list videos="$ctrl.videos" on-select="$ctrl.selectMedia(video)" ng-show="$ctrl.display.videos"></video-list>
    <video-list videos="$ctrl.stockVideos" on-select="$ctrl.selectMedia(video)" ng-show="$ctrl.display.stockVideos"></video-list>
  </div>
</div>
