<div class="media-library">

  <div class="clearfix">
    <ul class="nav nav-pills">
      <li class="active">
        <a href="" ng-click="$ctrl.showImages()">my images</a></li>
      <li>
        <a href="" ng-click="$ctrl.showVideos()">my videos</a>
      </li>
      <li class="stock-media pull-right">
        stock:
        <a href="" ng-click="$ctrl.showVideos()"><i class="fa fa-picture-o"></i></a>
        <a href="" ng-click="$ctrl.showVideos()"><i class="fa fa-film"></i></a>
      </li>
    </ul>
    <a href="" class="media-upload-button" ng-click="$ctrl.upload()">
      <i class="fa fa-upload "></i>
      Upload Media
    </a>
  </div>

  <div>
    <span ng-if="$ctrl.uploading">
      <i class="fa fa-spinner fa-spin"></i>
      Uploading...
    </span>
  </div>

  <div ng-class="{selecting: $ctrl.selecting}" class="thumb-container">
    <div ng-if="$ctrl.selecting">
      <h4>Select a media item</h4>
    </div>

    <div class="row" ng-repeat="imageGroup in $ctrl.groupedImages" ng-show="$ctrl.display.images">

      <div class="col-md-4 image-thumbs" ng-repeat="image in imageGroup">
        <img class="img-responsive"
             ng-src="{{ image.thumbnail_url }}"
             ng-click="$ctrl.selectMedia(image)">
      </div>
    </div>

    <div class="row media-library-videos" ng-repeat="videoGroup in $ctrl.groupedVideos" ng-show="$ctrl.display.videos">
      <div class="col-md-6" ng-repeat="video in videoGroup">
        <div class="text-center">
          <i class="fa fa-file-video-o"
             ng-click="$ctrl.selectMedia(video)">
          </i>

          <div>
            {{ video.filename }}
          </div>
        </div>

      </div>
    </div>
  <div>
</div>

