<div class="media-library">

  <a href="" ng-click="$ctrl.back()" class="back-link pull-right"><i class="fa fa-chevron-left"></i> Back</a>

  <h3>Media Library</h3>

  <div>

    <div class="btn-group">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.showTab('images')"
              ng-class="{active: $ctrl.display.images}"
              ng-disabled="$ctrl.tabDisabled('image')">
        My Images
      </button>

      <button type="button" class="btn btn-default"
              ng-click="$ctrl.showTab('videos')"
              ng-class="{active: $ctrl.display.videos}"
              ng-disabled="$ctrl.tabDisabled('video')">
        My Videos
      </button>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.showTab('stockImages')"
              ng-class="{active: $ctrl.display.stockImages}"
              ng-disabled="$ctrl.tabDisabled('image')">
        Stock Images
      </button>
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.showTab('stockVideos')"
              ng-class="{active: $ctrl.display.stockVideos}"
              ng-disabled="$ctrl.tabDisabled('video')">
        Stock Videos
      </button>
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-default"
              ng-click="$ctrl.showTab('icons')"
              ng-class="{active: $ctrl.display.icons}"
              ng-disabled="$ctrl.tabDisabled('icon')">
        Icons
      </button>
    </div>

    <form class="search-container">
      <input type="text" class="form-control media-search" placeholder="Search..."
             ng-model="$ctrl.searchQuery"
             ng-model-options="{updateOn: 'default blur', debounce: { default: 300, blur: 0 }}"
             ng-change="$ctrl.filterResults()">
    </form>

    <a href="" class="btn btn-primary media-upload-button" upload-media-link
       on-upload="$ctrl.onUpload()"
       on-convert-start="$ctrl.onConvert()"
       ng-disabled="$ctrl.uploading">
      <i class="fa fa-arrow-circle-up" ng-if="!$ctrl.uploading"></i>
      <i class="fa fa-spin fa-spinner" ng-if="$ctrl.uploading"></i>
      Upload
    </a>

  </div>

  <div>
    <span ng-if="$ctrl.uploading">
      <i class="fa fa-spinner fa-spin"></i>
      Uploading...
    </span>
  </div>

  <div ng-class="{selecting: $ctrl.selecting}" class="thumb-container">
    <div ng-if="$ctrl.selecting">
      <h4>Select a media item</h4>
    </div>

    <image-list images="$ctrl.images" on-select="$ctrl.selectMedia(image)"
                allow-delete on-delete="$ctrl.deleteMedia(image, 'image')"
                ng-show="$ctrl.display.images">
    </image-list>

    <video-list videos="$ctrl.videos" on-select="$ctrl.selectMedia(video)"
                allow-delete on-delete="$ctrl.deleteMedia(video, 'video')"
                selecting="$ctrl.selecting"
                ng-show="$ctrl.display.videos">
    </video-list>

    <image-list images="$ctrl.stockImages" on-select="$ctrl.selectMedia(image)"
                ng-show="$ctrl.display.stockImages"></image-list>


    <video-list videos="$ctrl.stockVideos" on-select="$ctrl.selectMedia(video)"
                selecting="$ctrl.selecting"
                ng-show="$ctrl.display.stockVideos"></video-list>

    <icon-list icons="$ctrl.icons"
               on-select="$ctrl.selectMedia(icon)"
               ng-show="$ctrl.display.icons"></icon-list>

    <uib-pagination total-items="$ctrl.totalItems" items-per-page="$ctrl.itemsPerPage" ng-model="$ctrl.currentPage"
                    ng-change="$ctrl.pageChanged()"></uib-pagination>
  </div>

</div>

