<div class="video-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
      <span aria-hidden="true">&times; close</span>
    </button>
  </div>

  <div class="modal-body">
    <video-player url="{{ video.url || video.original_url }}" autoplay="true"></video-player>
  </div>

  <div class="modal-footer video-modal-footer" ng-if="selecting">
    <div class="clearfix">
      <div class="video-modal-title pull-left">
        {{ video.title || video.filename }}
      </div>

      <button class="button pull-right" ng-click="selectVideo()">Select this video</button>
    </div>
  </div>
</div>