<div class="row media-library-videos" ng-repeat="videoGroup in $ctrl.groupedVideos">
  <div class="col-md-3 image-thumb-column sixteen-nine" ng-repeat="video in videoGroup">
    <div class="video-thumb-box content">
      <a ng-click="$ctrl.openVideoModal(video)" class="play-sample">
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
      </a>

      <div ng-if="$ctrl.showDelete" class="delete-box">
        <a href="" ng-click="$ctrl.onDelete({video: video})">
          <i class="fa fa-trash"></i>
        </a>
      </div>
      <div class="video-thumb-link" ng-click="$ctrl.openVideoModal(video)">
        <div class="text-center">

          <img ng-src="https://vejeo.s3.amazonaws.com/vidgenie/images/adsee/file-placeholder.jpg" ng-if="!video.thumbnail_url">
          
          <img ng-src="{{ video.thumbnail_url }}" class="img-responsive" ng-if="video.thumbnail_url">

          <div class="video-name">
              {{ video.filename }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
