<div class="theme-list-page">
  <div ng-if="$ctrl.sceneCollection.theme_variant_id">
    <h1>{{ $ctrl.themeVariant.theme.name }}</h1>

    <img ng-src="{{ $ctrl.themeVariant.poster_image_url_medium }}">

    <p>{{ $ctrl.themeVariant.theme.description }}</p>

    <div>
      <a ui-sref="sceneEditor" class="button">Next</a>
    </div>
  </div>

  <div ng-if="!$ctrl.sceneCollection.theme_variant_id">
    <h1>Recommended Video Design(s)</h1>

    <div class="theme-list-description">These are the recommended video designs based on what you are promoting and your selected target segment. They are the most likely to perform based on our data.</div>

    <div ng-if="$ctrl.loading" class="text-center">
      <i class="fa fa-spin fa-spinner"></i>
    </div>

    <div ng-if="!$ctrl.loading">
      <theme-list themes="$ctrl.themes" on-select="$ctrl.selectThemeVariant($event)"></theme-list>
    </div>
  </div>
</div>
