<div id="fullpage-advertising">
  <div class="section" id="section1">
    <%= render 'layouts/marketing_nav' %>

    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="text-overlay">
          <h1>Custom Audience Targeting</h1>
          <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          <%= link_to 'Learn More', page_path('advert_custom_audience'), target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="background-overlay"></div>
    <div class="col-md-12 section-text">
      <h1>Look-a-like<br>Audience<br>Targeting</h1>
      <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <%= link_to 'Learn More', page_path('advert_lookalike'), target: '_self', :class=> 'button-ghost' %>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="section-text">
          <h1>Custom Targeting</h1>
          <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          <%= link_to 'Learn More', page_path('advert_customtarget'), target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
</div>
