<div id="fullpage-advertising">
  <div class="section" id="section1">
    <%= render 'layouts/marketing_nav' %>

    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="text-overlay">
          <h1>videos that learn</h1>
          <div class="section-subtext">Target your current customers, clients, prospects or subscribers on Facebook. Vixer divides your customer data into custom target audiences and creates personalized ads for each of them.</div>
          <%= link_to 'Learn More', page_path('advert_custom_audience'), target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <div class="background-overlay"></div>
    <div class="col-md-12 section-text">
      <h1>acquire<br>better<br>leads</h1>
      <div class="section-subtext">
        <div class="subtext-format">
          Create new target audiences that resemble your current customer base and create customized ads for better results
        </div>
      </div>
      <br>
      <br>
      <br>
      <%= link_to 'Learn More', page_path('advert_lookalike'), target: '_self', :class=> 'button-ghost' %>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="background-overlay"></div>
    <div class="row ">
      <div class="col-md-12">
        <div class="section-text">
          <h1>custom targeting</h1>
          <div class="section-subtext">Target your ads by location, gender, age, interests, behavior, language, demographics and much more. With Smart Vix, each of your video ads will be personalized to your target segments to maximize results</div>
          <%= link_to 'Learn More', page_path('advert_customtarget'), target: '_self', :class=> 'button-ghost' %>
        </div>
      </div>
    </div>
  </div>
</div>
