<div id="gaming-page">
  <%= render 'layouts/marketing_nav' %>
  <div class="hero-image"></div>
  <div class="row">
    <div class="col-md-12 hp-info-pad">
    	<h1>Gaming</h1>
    </div>
  </div>
</div>