<div id="fullpage">
  <div class="section" id="section1">
    <%= render 'layouts/marketing_nav' %>

    <div class="background-overlay"></div>

        <div class="main-text">
          <div class='content'>
            <div class='visible'>
              <p>
                Social Video
              </p>
              <ul>
                <li>Marketing</li>
                <li>Advertising</li>
                <li>To Inform</li>
                <li>To Promote</li>
                <li>To Sell</li>
              </ul>
            </div>
          </div>
        </div>

  </div>
  <div class="section" id="section2">
    <div class="background-overlay"></div>
    <div class="text-overlay ">

      <h1>content marketing</h1>
      <div class="section-subtext">Social video creation made quick and accessible. No video editing expertise is required to use Vixer’s social video platform, only a story to share. Get your videos on Facebook in a matter of minutes.</div>
      <%= link_to 'Learn more', page_path('content_marketing'), target: '_self' %>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="background-overlay"></div>
      <div class="text-overlay">
        <h1>advertising</h1>
        <div class="section-subtext">Reach your target audience with a personalize message that delivers trackable results. Acquire new lookalike audiences by finding and advertising new prospects that are similar to your most valued customers.</div>
        <%= link_to 'Learn more', page_path('advertising'), target: '_self' %>
      </div>
    </div>
  </div>
</div>
