
<div id="fullpage">
  <div class="section" id="section1">
    <div class="background-overlay"></div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="main-text">
          <%= image_tag "vixer-logo.svg", :class=> "vixer-logo" %>
          <div class="tagline">Supercharged Video Marketing</div>
          <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit</div>
          <a href="" class="button-ghost">Get Started</a>
        </div>
      </div>
    </div>
  </div>
  <div class="section" id="section2">
    <h1>pick an industry</h1>
    <div class="section-subtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
  </div>
  <div class="section" id="section3">
    <h1>select your target audience</h1>
    <div class="section-subtext"></div>
    <%= image_tag "her.png" %>
  </div>
  <div class="section" id="section4">
    <h1>pick one of our recommended themes</h1>
    <div class="section-subtext"></div>
  </div>
  <div class="section" id="section5">
    <h1>edit your video</h1>
    <div class="section-subtext"></div>
    <%= image_tag "imac.png", :class=> "" %>
  </div>
  <div class="section" id="section6">
    <h1>get social</h1>
    <div class="section-subtext"></div>
  </div>
</div>