HAL_URL: http://hal-staging.herokuapp.com
AWS_ACCESS_KEY_ID: aws_access_key
AWS_SECRET_ACCESS_KEY: aws_secret_key
AWS_REGION: 'us-east-1'
S3_BUCKET_NAME: adsee-staging
CDN_URL: http://cdn.adsee.com
HOST: localhost
WEB_PORT: '3000'
URI_SCHEME: http
