HAL_URL: http://hal-staging.herokuapp.com
AWS_ACCESS_KEY_ID: adsee_dev_key
AWS_SECRET_ACCESS_KEY: adsee_dev_secret
AWS_REGION: 'us-east-1'
S3_BUCKET_NAME: adsee-development
CDN_URL: https://s3.amazonaws.com/adsee-development
HOST: localhost
WEB_PORT: '3000'
URI_SCHEME: http
FILESTACK_API_KEY: An8Zl4flxRFClUxhxGJxgz
