HAL_URL: http://hal-staging.herokuapp.com
AWS_ACCESS_KEY_ID: adsee_dev_key
AWS_SECRET_ACCESS_KEY: adsee_dev_secret
AWS_REGION: 'us-east-1'
S3_BUCKET_NAME: adsee-development
CDN_URL: https://s3.amazonaws.com/adsee-development
HOST: localhost
WEB_PORT: '3000'
URI_SCHEME: http
FILESTACK_API_KEY: AWz07wy6sRhKoSCyFoIRfz
WEB_CONCURRENCY: '1'
FACEBOOK_APP_ID: '1022638341148592'
FACEBOOK_APP_SECRET: 3a2da52fff5e97e9bf231f90b6150754
FACEBOOK_API_VERSION: v2.6
# FACEBOOK_ADS_ENABLED: '1'
HOME_URL: http://home.adsee.io
# SSL_ENABLED: '1'
