<div class="posttype-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
      <span aria-hidden="true">&times; cancel</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h2>Select a facebook post type:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="square">
          <div class="posttype-title">Advertisement</div>
          <img ng-src="{{fbad}}" class="img-responsive">
          <div class=""></div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="square">
          <div class="posttype-title">Profile Post</div>
          <img ng-src="{{fbprofile}}" class="img-responsive">
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="square">
          <div class="posttype-title">Page Post</div>
          <img ng-src="{{fbpage}}" class="img-responsive">
        </a>
      </div>
    </div>

    <select ng-model="integration">
      <option value="">None</option>
      <option value="facebook_ad">Facebook Ad</option>
      <option value="facebook_page_post">Facebook Page Post</option>
      <option value="facebook_post">Facebook Post</option>
    </select>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="save()" ng-disabled="saving">Save</button>
  </div>
</div>
