<div class="row login-page">
  <div class="col-md-4 col-md-offset-4">

  <h2>LOG IN</h2>

  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, target: '_self', class: "button fb-button" %>

  </div>

</div>

