<div class="theme-preview-expand" output-height on-output-height="$ctrl.onOutputHeight(height)">
  <div class="row expand-column-width">
    <div class="theme-preview-expand-inner">
      <span class="theme-preview-close" ng-click="$ctrl.onClose({$event: {theme: $ctrl.theme}})"></span>
      <div class="col-md-7">
        <video-player url="{{ $ctrl.themeVariant.sample_video_url }}"
                      poster="{{ $ctrl.themeVariant.poster_image_url_large }}"
                      class="vjs-big-play-centered">
        </video-player>
      </div>
      <div class="theme-preview-info col-md-5">
        <div class="theme-preview-type">
          <a>{{ $ctrl.theme.industry }}</a> &middot; <a>{{ $ctrl.theme.ad_type }}</a>
        </div>

        <h2>{{ $ctrl.theme.name }}</h2>

        <div class="theme-description">
          {{ $ctrl.theme.description }}
        </div>

        <ul class="theme-info-list fa-ul">
          <li><i class="fa fa-file-image-o fa-li"></i> {{ $ctrl.themeVariant.photo_count }} images</li>
          <li><i class="fa fa-file-video-o fa-li"></i> {{ $ctrl.themeVariant.video_count }} videos</li>
          <li ng-if="$ctrl.themeVariant.duration"><i class="fa fa-clock-o fa-li"></i> {{ $ctrl.themeVariant.duration }} seconds</li>
          <li ng-if="$ctrl.themeVariant.aspect_ratio"><i class="fa fa-expand fa-li"></i> {{ $ctrl.themeVariant.aspect_ratio }}</li>
          <li ng-if="$ctrl.theme.song"><i class="fa fa-music fa-li"></i> {{ $ctrl.theme.song }}</li>
        </ul>
        <a href="" class="button build-theme-button"
           new-scene-collection-link theme-variant-id="{{ $ctrl.themeVariant.id }}" skip-aspect-ratio="true">
          Build this theme
        </a>
      </div>
      <div class="row variant-header-row">
        <div class="col-md-12">
          <div class="variant-header">Theme Variants <span class="variation-count">9 variations</span></div>
        </div>
      </div>
      <ul class="variant-list row">
        <li ng-repeat="themeVariant in $ctrl.theme.theme_variants"
            class="col-md-3">
          <a href="" ng-click="$ctrl.selectThemeVariant(themeVariant)" title="{{ themeVariant.name }}" ng-class="{selected: $ctrl.themeVariant === themeVariant}" class="variant-block">
            <img ng-src="{{ themeVariant.thumbnail_url_small }}" ng-if="themeVariant.thumbnail_url_small">
            <img src="https://vejeo.s3.amazonaws.com/vidgenie/images/adsee/preview-image-unavailable.jpg" ng-if="!themeVariant.thumbnail_url_small">
            <div class="variant-info">
              <div>{{ themeVariant.name }}</div>
              <ul class="variant-specs">
                <li>{{ themeVariant.photo_count }} <i class="fa fa-picture-o"></i></li>
                <li>{{ themeVariant.video_count }} <i class="fa fa-video-camera"></i></li>
                <li>{{ themeVariant.duration }} <i class="fa fa-clock-o"></i></li>
                <li ng-if="themeVariant.aspect_ratio">{{ themeVariant.aspect_ratio}} <i class="fa fa-expand"></i></li>
              <ul>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
