<div class="themes-grid-nav">
  <ul>
    <li ng-class="{active: $ctrl.active('All')}">
      <a href="" ng-click="$ctrl.selectIndustry()">All</a>
    </li>

    <li ng-class="{active: $ctrl.active('Featured')}">
      <a href="" ng-click="$ctrl.showFeaturedThemes()">Featured</a>
    </li>

    <li ng-repeat="industry in $ctrl.industries" ng-class="{active: $ctrl.active(industry)}">
      <a href="" ng-click="$ctrl.selectIndustry(industry)">{{ industry.name }}</a>
    </li>
  </ul>
</div>

<div class="themes-grid">
  <h2>Browse {{ $ctrl.title() }} Themes</h2>

  <div>{{ industry.description }}</div>

  <button class="button-ghost custom-theme-button" new-scene-collection-link>
    <i class="fa fa-wrench"></i>&nbsp;Create your own theme
  </button>


  <div ng-if="$ctrl.loading" class="text-center">
    <i class="fa fa-spinner fa-spin"></i>
  </div>

  <theme-list themes="$ctrl.themes" show-ad-type="!$ctrl.active('All')" ng-if="!$ctrl.loading"></theme-list>
</div>
