<div class="font-selecter selecter-modal">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
    <span aria-hidden="true">&times; cancel</span>
  </button>
  <div class="modal-header">
    <!-- <div class="font-icon"><i class="fa fa-font"></i></div> -->
    <h1>
      font selected: <span class="selected-name">{{ currentFont.name }}</span>
    </h1>

    Click on the font panel to select it.
  </div>

  <div class="modal-body">
    <div class="row" ng-repeat="fontGroup in groupedFonts">
      <div class="col-md-3" ng-repeat="font in fontGroup" class="text-center">
        <a href="" ng-class="{selected: currentFont.id === font.id}"
           ng-click="$close(font)">
          <img ng-src="{{ font.image.url }}" alt="{{ font.name }}" title="{{ font.name }}" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
</div>
