<div class="theme-settings">
  <div class="">
    <div class="theme-settings-column">
      <select ng-model="$ctrl.sceneCollection.aspect_ratio" ng-change="$ctrl.update('aspect_ratio')">
        <option value="16:9">16 : 9</option>
        <option value="1:1">1 : 1</option>
      </select>
    </div>

    <div class="theme-settings-column color-picker-column">
      <color-picker ng-model="$ctrl.sceneCollection.color"
                    color-picker-format="'hex'"
                    color-picker-swatch-pos="'right'"
                    color-picker-on-change="$ctrl.update('color')"
      ></color-picker>
    </div>

    <div class="theme-settings-column">
      <select ng-model="$ctrl.sceneCollection.font_id"
              ng-options="font.id as font.name for font in $ctrl.fonts"
              ng-change="$ctrl.update('font_id')"
              class="">
        <option value="">Select a font</option>
      </select>
    </div>

    <div class="theme-settings-column song-select-col">
      <div class="song-player">
        <song-player url="{{ $ctrl.currentSongUrl() }}"></song-player>
      </div>
      <select ng-model="$ctrl.sceneCollection.song_id"
              ng-options="song.id as song.name for song in $ctrl.songs"
              ng-change="$ctrl.update('song_id')"
              class="">
        <option value="">Select a song</option>
      </select>
    </div>

    <div>
      <a href="" ng-click="$ctrl.configureAudio()">
        <i class="fa fa-microphone"></i>
      </a>
    </div>
  </div>
</div>
