<div class="theme-settings">
  <div class="">
    <a href="" ng-click="$ctrl.configureAudio()" class="add-audio-button">
       <i class="fa fa-microphone"></i> Add Audio
    </a>
    <div class="theme-settings-column color-picker-column">
      <color-picker ng-model="$ctrl.sceneCollection.color"
                    color-picker-format="'hex'"
                    color-picker-swatch-pos="'right'"
                    color-picker-on-change="$ctrl.update('color')"
      ></color-picker>
    </div>

    <div class="theme-settings-column">
      Font:
      <a href="" ng-click="$ctrl.configureFont()">
        {{ $ctrl.currentFont.name }}
      </a>
    </div>

    <div class="theme-settings-column song-select-col">
      Song:
      <div class="song-player">
        <song-player url="{{ $ctrl.currentSongUrl() }}"></song-player>
      </div>

      <a href="" ng-click="$ctrl.configureSong()">
        {{ $ctrl.currentSong.name }}
      </a>
    </div>
    
  </div>
</div>
