<div class="email-uploader">

  <div class="text-center" ng-if="!$ctrl.loaded">
    <i class="fa fa-spin fa-spinner"></i>
  </div>

  <div ng-if="$ctrl.loaded">
    <div ng-if="!$ctrl.audienceOption" class="">

    <h1>Custom Audience</h1>

    <div class="email-list-description">
      Create a new custom audience using an email list from your CRM data or pick an existing custom audience.
    </div>

      <div class="button-box">
        <button type="button" class="button" ng-click="$ctrl.newAudience()"><i class=" fa fa-plus"></i> New Audience</button>
        <button type="button" class="button-ghost" ng-click="$ctrl.existingAudience()"><i class=" fa fa-users"></i> Existing Audience
        </button>
        <button type="button" class="button-ghost skip-button" ng-click="$ctrl.skip()">Skip this step</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" ng-if="$ctrl.audienceOption === 'new'">
        <email-uploader-form profile-report="$ctrl.profileReport" ad-account-id="{{ $ctrl.adAccountId }}"
                             saving="$ctrl.saving"
                             on-save="$ctrl.saveNewAudience($event)" on-cancel="$ctrl.cancel()">
        </email-uploader-form>
      </div>

      <div class="col-md-6" ng-if="$ctrl.audienceOption === 'existing'">
        <existing-audience-form ad-account-id="{{ $ctrl.adAccountId }}"
                           existing-custom-audiences="$ctrl.facebookAd.targeting.custom_audiences"
                           saving="$ctrl.saving"
                           on-cancel="$ctrl.cancel()"
                           on-save="$ctrl.saveExistingAudience($event)">
        </existing-audience-form>
      </div>
    </div>
  </div>
</div>
