<form>
  <div class="form-group">
    <label>Industry</label>

    <select ng-model="$ctrl.themeRecommendation.industry_id"
            ng-options="industry.id as industry.name for industry in $ctrl.industries"
            ng-change="$ctrl.industryChanged()"
            class="form-control">
      <option value="">Select an industry</option>
    </select>
  </div>

  <div class="form-group">
    <label>Ad Type</label>

    <select ng-model="$ctrl.themeRecommendation.ad_type_id"
            ng-options="ad_type.id as ad_type.name for ad_type in $ctrl.adTypes"
            ng-change="$ctrl.fetchAvailableThemes()"
            ng-disabled="!$ctrl.themeRecommendation.industry_id"
            class="form-control">
      <option value="">Select an ad type</option>
    </select>
  </div>

  <div class="form-group">
    <label>Targeting Spec</label>

    <select ng-model="$ctrl.themeRecommendation.facebook_targeting_spec_id"
            ng-options="facebook_targeting_spec.id as facebook_targeting_spec.name for facebook_targeting_spec in $ctrl.facebookTargetingSpecs"
            ng-change="$ctrl.fetchAvailableThemes()"
            ng-disabled="!$ctrl.themeRecommendation.ad_type_id"
            class="form-control">
      <option value="">Select a targeting spec</option>
    </select>
  </div>

  <div class="form-group">
    <label>Theme</label>

    <select ng-model="$ctrl.themeRecommendation.theme_id"
            ng-options="theme.id as theme.name for theme in $ctrl.themes"
            ng-disabled="!$ctrl.themeRecommendation.facebook_targeting_spec_id"
            class="form-control">
      <option value="">Select a theme</option>
    </select>
  </div>

  <button class="btn btn-primary" ng-click="$ctrl.save()" ng-disabled="$ctrl.saving">Save</button>
  <a href="/admin/theme_recommendations" target="_self" class="btn btn-default">Cancel</a>
</form>
