<div class="row">
  <div class="col-md-6">
    <h1>Video Ad</h1>

    {{ $ctrl.sceneCollection.industry }} | {{ $ctrl.sceneCollection.ad_type }}

    <span ng-if="$ctrl.sceneCollection.theme">
      | {{ $ctrl.sceneCollection.theme }}
    </span>
  </div>

  <div class="col-md-6">
    <theme-settings scene-collection="$ctrl.sceneCollection"
                    on-update="$ctrl.updateSceneCollection(prop, value)"></theme-settings>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <ui-view>
      <div class="row">
        <div class="col-md-12">
          <a ui-sref="sceneEditor.addScene">
            New Scene
          </a>

          <scene-navigator scene-contents="$ctrl.sceneContents"
                           selected-scene-content="$ctrl.selectedSceneContent"
                           on-next="$ctrl.nextSceneContent()"
                           on-previous="$ctrl.previousSceneContent()">
          </scene-navigator>

          <div class="pull-right">
            TRANSITION OUT:

            <select ng-model="$ctrl.selectedSceneContent.transition_id"
                    ng-options="transition.id as transition.name for transition in $ctrl.transitions"
                    ng-change="$ctrl.updateSceneContentTransition()">
              <option value="">Select a transition</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          PREVIEW IMAGE

          <div class="clearfix">
            <h4 class="pull-left">
              {{ $ctrl.sceneContentPosition($ctrl.selectedSceneContent) }}. {{ $ctrl.selectedSceneContent.scene.name }}
            </h4>

            <a href="" class="pull-right" ng-click="$ctrl.removeScene($ctrl.selectedSceneContent)">
              <i class="fa fa-trash"></i>
            </a>
          </div>
        </div>
      </div>
    </ui-view>
  </div>

  <div class="col-md-5">
    <uib-tabset justified="true" active="$ctrl.activeTab">
      <uib-tab index="0" heading="Content Editor">
        <content-editor scene-content="$ctrl.selectedSceneContent"
                        on-update-scene-attribute="$ctrl.updateSceneAttribute(sceneAttribute, value)">
        </content-editor>
      </uib-tab>

      <uib-tab index="1" heading="Media Library">
        <media-library></media-library>
      </uib-tab>
    </uib-tabset>
  </div>
</div>

<div class="row">
  <div class="col-md-11">
    <scene-list scene-contents="$ctrl.sceneContents"
                selected-scene-content="$ctrl.selectedSceneContent"
                on-select="$ctrl.selectSceneContent(sceneContent)"
                on-sort="$ctrl.updateSceneContentPosition(sceneContent, position)">
    </scene-list>
  </div>

  <div class="col-md-1">
    Preview
  </div>
</div>
