
<div class="editor-container">
  <div class="row scene-editor">
    <div class="video-name-header">
      <h1><a href="" editable-text="$ctrl.sceneCollection.name" onaftersave="$ctrl.updateSceneCollection('name', $ctrl.sceneCollection.name)">
        {{ $ctrl.sceneCollection.name || 'click here to set a title' }}
      </a></h1>
    </div>

    <div class="action-bar">
      <div class="industry-type-header">

        {{ $ctrl.sceneCollection.industry }} 

        <span ng-if="$ctrl.sceneCollection.ad_type">
          | {{ $ctrl.sceneCollection.ad_type }}
        </span>

        <span ng-if="$ctrl.sceneCollection.theme">
          | {{ $ctrl.sceneCollection.theme }}
        </span>

      </div>
    </div>

    <div class="scenes-row">

    <scene-list scene-contents="$ctrl.sceneContents"
                selected-scene-content="$ctrl.selectedSceneContent()"
                on-select="$ctrl.selectSceneContent(sceneContent)"
                on-sort="$ctrl.updateSceneContentPosition(sceneContent, position)"
                on-add-scene="$ctrl.showAddScenePage()"
                class="scene-thumbs-wrapper">
    </scene-list>

    </div>

    <div class="scenes-row-gradient-bg"></div>

    <media-library ng-show="$ctrl.displayMediaLibrary"
                   on-close="$ctrl.displayMediaLibrary = false">
    </media-library>

    <add-scene aspect-ratio="{{ $ctrl.sceneCollection.aspect_ratio }}"
               on-add-scene="$ctrl.addScene(scene)"
               on-close="$ctrl.displayAddScene = false"
               ng-if="$ctrl.displayAddScene">
    </add-scene>

    <div class="editor-body" ng-show="!$ctrl.displayAddScene && !$ctrl.displayMediaLibrary">
      <div class="main-column">

          <div class="scene-header">
  <!--           <h4 class="pull-left">
              Scene
                {{ $ctrl.sceneContentPosition($ctrl.selectedSceneContent) }}. {{ $ctrl.selectedSceneContent.scene.name }}
            </h4> -->
            <div class="top-action-bar">
              <theme-settings scene-collection="$ctrl.sceneCollection"
                              duration="$ctrl.duration()"
                              on-update="$ctrl.updateSceneCollection(prop, value)"></theme-settings>
            </div>
<!--             <div class="scene-toggle-right">
              <a href="" ng-click="$ctrl.displayMediaLibrary = true" class="media-library-button"><i class="fa fa-file-o"></i> &nbsp;Media Library</a>
            </div>
             -->

          </div>

          <div class="main-image">
            <div ng-if="$ctrl.selectedSceneContent.scene.guide_video_url">
              <video-player url="{{ $ctrl.selectedSceneContent.scene.guide_video_url }}" autoplay="true"></video-player>
            </div>
            <div ng-if="!ctrl.selectedSceneContent.scene.guide_video_url">
              <img src="https://vejeo.s3.amazonaws.com/vidgenie/images/adsee/video-sample-placeholder.jpg"
                 class="img-responsive">
            </div>

          </div>

          <div class="scene-actionbar">


  <!--             <a href="" class="delete-scene pull-left" ng-click="$ctrl.removeScene($ctrl.selectedSceneContent)">
                <i class="fa fa-trash"></i> delete scene
              </a> -->

              <div class="pull-right">

                <div class="pull-right time">
                  <i class="fa fa-clock-o" aria-hidden="true"></i> {{ $ctrl.duration() | secondsToTime }}
                </div>

<!--                 <transition-config scene-content="$ctrl.selectedSceneContent()"
                                 on-update-transition="$ctrl.updateSceneContent($event)"
                                 ng-if="!$ctrl.lastScene()"></transition-config> -->

              </div>

              <!-- Extra Add Scene Button -->
  <!--             <div class="pull-right">
                <a ui-sref="sceneEditor.addScene" class="new-scene button">
                  <i class="fa fa-plus-circle"></i> Add a Scene
                </a>
              </div> -->

          </div>

      </div>
      <div class="content-column">
        <div class="content-panel">
          <scene-navigator scene-contents="$ctrl.sceneContents"
                         selected-scene-content="$ctrl.selectedSceneContent"
                         on-next="$ctrl.nextSceneContent()"
                         on-previous="$ctrl.previousSceneContent()">
          </scene-navigator>
          <div class="content-wrapper">

            <content-editor scene-content="$ctrl.selectedSceneContent()"
                          on-update-scene-attribute="$ctrl.updateSceneAttribute(sceneAttribute, attributes)">
          </content-editor>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
