<h1>What would you like to promote?</h1>

<ul>
  <% @ad_types.each do |ad_type| %>
    <li>
      <%= link_to ad_type.name, [ad_type, Theme] %>
      <%= image_tag ad_type.image.url(:large_square) %>
    </li>
  <% end %>
</ul>
