<div class="modal-header">
  <button type="button" class="close aspect-close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()">
    <span aria-hidden="true">&times; close</span>
  </button>
</div>

<div class="modal-body">
  <form ng-show="!saving" name="lookalikeAudienceForm">
    <div class="form-group" show-errors>
      <label for="lookalike_audience_name" class="control-label">Name</label>
      <input id="lookalike_audience_name" type="text" class="form-control" ng-model="lookalikeAudience.name"
             name="name" required>
    </div>

    <div class="form-group" show-errors>
      <label for="lookalike_audience_description" class="control-label">Description</label>
      <textarea id="lookalike_audience_description" class="form-control" name="description"
                ng-model="lookalikeAudience.description"></textarea>
    </div>

    <div class="form-group" ng-class="{'has-error': showError('origin_audience_id')}">
      <label class="control-label">Source</label>

      <ui-select ng-model="lookalikeAudience.origin_audience_id" name="origin_audience_id" required>
        <ui-select-match placeholder="Select an origin audience">
          <span ng-bind="$select.selected.name"></span>
        </ui-select-match>

        <ui-select-choices
            repeat="item.id as item in (customAudiences | filter: $select.search | orderBy: 'name') track by item.id">
          <span ng-bind="item.name"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group" ng-class="{'has-error': showError('country')}">
      <label class="control-label">Country</label>

      <ui-select ng-model="lookalikeAudience.lookalike_spec.country" name="country" required>
        <ui-select-match placeholder="Select a country">
          <span ng-bind="$select.selected.name"></span>
        </ui-select-match>

        <ui-select-choices
            repeat="item.key as item in (countries | filter: $select.search | orderBy: 'name') track by item.key">
          <span ng-bind="item.name"></span>
        </ui-select-choices>
      </ui-select>
    </div>

    <div class="form-group" show-errors ng-if="!displayCustomAudienceSize">
      <label for="lookalike_audience_type" class="control-label">Type</label>

      <select id="lookalike_audience_type" ng-model="lookalikeAudience.lookalike_spec.type" class="form-control"
              name="type" required>
        <option value="">Select a type</option>
        <option value="similarity">Similarity</option>
        <option value="reach">Reach</option>
      </select>

      <span class="help-block">
        <a href="" ng-click="showCustomAudienceSizing()">Custom audience sizing</a>
      </span>
    </div>

    <div class="form-group" ng-if="displayCustomAudienceSize">
      <label>Audience Size</label>

      <rzslider rz-slider-model="lookalikeAudience.lookalike_spec.starting_ratio"
                rz-slider-high="lookalikeAudience.lookalike_spec.ratio"
                rz-slider-options="ratioSliderOptions">
      </rzslider>

      <span class="help-block">
        <a href="" ng-click="showBasicAudienceSizing()">Automatic audience sizing</a>
      </span>
    </div>
  </form>

  <div ng-show="saving" class="text-center">
    <p>Lookalike audience is saving...</p>

    <i class="fa fa-spin fa-spinner"></i>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$dismiss()" ng-disabled="saving">Cancel</button>
  <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="saving">Save</button>
</div>
