<nav class="main-nav">
  <div class="logo"></div>
  <ul>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    <li><a href="#">Sign up</a></li>
    <li><a href="#">Templates</a></li>
    <li><a href="#">Create</a></li>
  </ul>
</nav>