<% content_for :content do %>
    <body ng-app="adsee">
    <div class="container-fluid main-content">
      <%= yield %>
      <div ui-view></div>
    </div>
    </body>
<% end %>

<%= render template: 'layouts/base' %>
